
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 88.7rem;
}.component-2-TRF {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.4rem 1rem 0.4rem 0rem;

  .logo-kv9 {
    width: 9.1rem;
    height: 4.6rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 37.5rem;

    .nishas-haV {
      height: 3rem;
      position: absolute;
      left: 0;
      color: #000000;
      width: 9.1rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1;
      font-family: Josefin Slab, 'Source Sans Pro';
      white-space: nowrap;
      top: 0;
    }
    .kosmetics-nbw {
      white-space: nowrap;
      height: 2.1rem;
      line-height: 1;
      left: 0.1rem;
      top: 2.5rem;
      font-size: 2.1rem;
      font-weight: 400;
      color: #000000;
      font-family: Josefin Slab, 'Source Sans Pro';
      width: 8.5rem;
      position: absolute;
    }
    .frame-1-Hob {
      height: 0.26rem;
      position: absolute;
      left: 2.8rem;
      top: 0.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.26rem;
    }
  }
  .component-1-cay {
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .home-AMb {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5rem;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
    }
    .about-Hh7 {
      line-height: 1.1975;
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.4rem;
      font-size: 2.2rem;
      font-weight: 400;
    }
    .products-1t1 {
      font-weight: 400;
      line-height: 1.1975;
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.8rem;
      font-size: 2.2rem;
    }
    .contacts-xYM {
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.1975;
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
